$background: #ffffff;
$calendar-buttons: rgba(4, 196, 255, 0.364); 
$calendar-th: rgba(4, 196, 255, 0.364);
$calendar-cell-hover: aquamarine;
$activitylist: white;
$activitylist-shadow: rgb(74, 74, 74);
$activity: rgba(4, 196, 255, 0.364);
$activity-selected: rgba(0, 128, 255, 0.548);